body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    height : 100vh;
    background-image: url("/img/wallpaper_003.jpg");
    object-fit: cover;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width : auto;
    background-color:bisque;
    border-radius: 2%;
    background-image: url("/img/myblog-cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form-blog {
    display:flex;
    flex-direction: column;
    justify-items: center;
    gap:10px;
    width: 400px;
    margin:0;
    margin-bottom: 10px;
    padding:10px;
}

h1 {
    font-size: 2rem;
    color: rgb(18, 99, 18);
}

h2 {
    font-size: 1.5rem;
    color: rgb(27, 13, 216);
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    color: rgb(216, 13, 13);
    text-align: center;
}

.blog-container {
    width: 500px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 1 rem;
}

.btn-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn-submit {
    background-color: rgb(111, 173, 20);
    font-size: 1.0rem;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

.btn-cancel {
    background-color: rgb(175, 39, 233);
    font-size: 1.0rem;
    padding: 5px;
    font-style: bold;
    border-radius: 5px;
    color: white;
}

.blog-link {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 1rem;
}

.post-title {
    font: 1.5rem;
    margin-bottom: 5px;
}

.post-date {
    font-size: 0.8rem;
    font-style: italic;
    margin:0;
}